{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class = "table table-striped table-hover">
        <thead class ="thead-inverse">
        <tr>
            <th>Symbol</th>
            <th>Action</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Transacted</th>
        </tr>
        </thead>
        <tbody>
        {%for transaction in history%}
        <tr>  
            <td>{{transaction.symbol}}</td>
            <td>{{transaction.action}}</td>
            <td>{{transaction.shares}}</td>
            <td>{{transaction.price}}</td>
            <td>{{transaction.time_stamp}}</td>
        </tr>
        {%endfor%}
        </tbody>
        <tfoot></tfoot>
        
    </table>
{% endblock %}